<p>edit works!</p>
<!-- <form *ngFor="let phone of phones$ | async" (ngSubmit)="submitForm(phone)">
  <div>
    <label for="brand">Brand:</label>
    <input type="text" id="brand" name="brand" [(ngModel)]="phone.brand" required>
  </div>
  <div>
    <label for="model">Model:</label>
    <input type="text" id="model" name="model" [(ngModel)]="phone.model" required>
  </div>
  <div>
    <label for="releaseYear">Release Year:</label>
    <input type="number" id="releaseYear" name="releaseYear" [(ngModel)]="phone.releaseYear" required>
  </div>
  <div>
    <label for="operatingSystem">Operating System:</label>
    <input type="text" id="operatingSystem" name="operatingSystem" [(ngModel)]="phone.operatingSystem" required>
  </div>
  <button type="submit">Save</button>
</form> -->
